<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Spring Security Example</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2 class="form-signin-heading">Login Page</h2>
    <div th:if="${error_msg}" class="alert alert-danger">
        <span th:text="${error_msg}"></span>
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
        You have been logged out.
    </div>
    <form class="form-signin" method="POST" th:action="@{/login}">
        <p>
            <label for="mail" class="sr-only">Email</label>
            <input type="text" id="mail" name="mail" class="form-control"
                   placeholder="Username" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control"
                   placeholder="Password" required>
        </p>
        <p>
            <input type="checkbox" name="remember-me" id="remember-me"/> <label for="remember-me" class="sr-only">Remember me</label>
        </p>
        <p>
            <span th:if="${spam_msg}" th:text="${spam_msg}" class="text-danger"/>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <a th:href="@{/request-reset-password}">Forgot password</a>
    </form>
    <h3><a th:href="@{/register}">Register</a></h3>
</div>
</body>
</html>